main{
	/* padding-bottom: 200px; */
	
}


main section{
	position: relative;
	background-color: #fff;
	padding: 120px 0 380px 0;
}

main section .bg{
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 100%;
	height: 550px;
	background-color: #ededed;
}

main .box{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: var(--width);
	display: flex;
	justify-content: space-between;
}

main .box .left{
	width: 500px;
}

main .box .left .title{
	font-family: Poppins-Bold;
	font-size: 42px;
	color: #313131;
}

main .box .left .tip{
	margin-top: 35px;
	font-size: 16px;
	color: #313131;
}

main .box .left .tag{
	display: inline-flex;
	margin-top: 80px;
	font-size: 20px;
	color: #ffffff;
	background-color: var(--color);
	padding: 5px 20px;
}

main .box .left .list{
	margin-top: 60px;
	padding-left: 5px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

main .box .left .list img{
	display: block;	
	width: 100%;
}


main .box .left .info{
	margin-top: 20px;
	font-size: 18px;
	color: #666666;
}


main .box .right{
	flex: 1;
	padding-left: 50px;
}

main .box .right img{
	display: block;
	width: 100%;
}