main{
	/* padding-bottom: 200px; */
	
}



main section{
	position: relative;
	background-color: #fff;
	padding: 120px 0 160px 0;
}

main section .bg{
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 100%;
	height: 550px;
	background-color: #ededed;
}

main .box{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: var(--width);
	display: flex;
	justify-content: space-between;
}

main .box .left{
	flex: 1;
}

main .box .left .title{
	font-family: Poppins-Bold;
	font-size: 42px;
	color: #313131;
}

main .box .left .tip{
	margin-top: 25px;
	font-size: 16px;
	color: #313131;
}

main .box .left .tag{
	display: inline-flex;
	margin-top: 80px;
	font-size: 20px;
	color: #ffffff;
	background-color: var(--color);
	padding: 5px 20px;
}

main .box .left .list{
	margin-top: 70px;
	display: grid;
	grid-template-areas: "a a a a a b b"
						"a a a a a b b"
						"a a a a a c c"
						"a a a a a c c"
						"d d d d e e e"
						"d d d d e e e";
	gap: 15px;
}

main .box .left .list img{
	display: block;	
	width: 100%;
}

main .box .left .list img:nth-child(1){
	grid-area: a;
	height: 517px;
}

main .box .left .list img:nth-child(2){
	grid-area: b;
	height: 252px;
}

main .box .left .list img:nth-child(3){
	grid-area: c;
	height: 252px;
}

main .box .left .list img:nth-child(4){
	grid-area: d;
	height: 360px;
}

main .box .left .list img:nth-child(5){
	grid-area: e;
	height: 360px;
}


main .box .left .info{
	margin-top: 20px;
	font-size: 18px;
	color: #666666;
}


main .box .right{
	flex: 1;
	padding-left: 50px;
}

main .box .right img{
	display: block;
	width: 100%;
}

main .box .right img+img{
	margin-top: 30px;
}